---
import Form from "@/components/Form.astro";
import Intro from "@/components/Intro.astro";
import Layout from "@/layouts/Layout.astro";

interface Props {
	withIntro?: boolean;
}

const withIntro = Astro.url.searchParams.get("withIntro");
---

<Layout title="Welcome to Astro.">
	<main
		class="w-full h-screen p-12 flex flex-col items-center justify-center overflow-auto"
	>
		<Form />
	</main>

	{withIntro ? <Intro /> : ""}
</Layout>

<style>
	.slide-out-top {
		animation: slide-out-top 1s ease-in-out both;
	}

	.animate-tada {
		animation: tada 1s ease-in-out 2.5s both;
	}

	@keyframes slide-out-top {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-1000px);
		}
	}

	@keyframes tada {
		0% {
			transform: scale(1);
			opacity: 0;
		}
		10% {
			transform: scale(0.9) rotate(-3deg);
		}
		20% {
			transform: scale(0.9) rotate(-3deg);
		}
		30% {
			transform: scale(1.1) rotate(3deg);
		}
		40% {
			transform: scale(1.1) rotate(-3deg);
		}
		50% {
			transform: scale(1.1) rotate(3deg);
		}
		60% {
			transform: scale(1.1) rotate(-3deg);
		}
		70% {
			transform: scale(1.1) rotate(3deg);
		}
		80% {
			transform: scale(1.1) rotate(-3deg);
		}
		90% {
			transform: scale(1.1) rotate(3deg);
		}
		100% {
			transform: scale(1) rotate(0);
		}
	}
</style>
