---
import Form from "@/components/Form.astro";
import Intro from "@/components/Intro.astro";
import Layout from "@/layouts/Layout.astro";

interface Props {
	withIntro?: boolean;
}

const withIntro = Astro.url.searchParams.get("withIntro");
---

<Layout title="Welcome to Astro.">
	<main
		class="w-full h-screen p-12 flex flex-col items-center justify-center overflow-auto"
	>
		<Form />
	</main>

	<Intro />
</Layout>
