---
import { slide } from "astro:transitions";

import EmojiSelected from "@/components/react/EmojiSelected";
import SuggestionBackground from "@/components/react/SuggestionBackground";
import WatchList from "@/components/react/WatchList";
import WatchMenu from "@/components/react/WatchMenu";
import WatchResourceInfo from "@/components/react/WatchResourceInfo";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Suggestions">
    <main class="flex justify-center items-center h-screen w-full relative">
        <SuggestionBackground client:only="react" />

        <aside
            class="flex flex-col justify-end items-center max-w-44 w-48 h-full bg-slate-300/10 backdrop-blur-lg overflow-hidden py-14 mix-blend-difference"
        >
            <WatchMenu client:only="react" />
        </aside>

        <WatchResourceInfo client:only="react" />

        <aside
            class="flex flex-col justify-start items-center max-w-64 w-64 h-full bg-slate-300/10 backdrop-blur-lg overflow-hidden gap-3 p-3"
        >
            <div
                class="flex flex-col justify-between items-center bg-slate-300/30 rounded-lg p-5 h-28 w-full"
                transition:name="moodList"
                transition:animate={slide({ duration: 100 })}
            >
                <p class="text-center">Mood</p>
                <EmojiSelected client:only="react" mode="mood" />
            </div>

            <div
                class="flex flex-col justify-between items-center bg-slate-300/30 rounded-lg p-5 h-28 w-full"
                transition:name="categoryList"
                transition:animate={slide({ duration: 100 })}
            >
                <p class="text-center">Category</p>
                <EmojiSelected client:only="react" mode="category" />
            </div>

            <WatchList client:only="react" />
        </aside>
    </main>
</Layout>
