---
import EmojiPickerComponent from "@/components/react/EmojiPickerComponent.tsx";
import TitleMode from "./react/TitleMode";
---

<section
	class="flex flex-col items-center justify-between py-20 rounded-lg bg-slate-300/30 backdrop-blur-lg w-[70rem] max-h-full h-full border-slate-300 border-[1px] overflow-hidden"
>
	<div class="flex flex-col items-center justify-center">
		<TitleMode client:only="react" />
	</div>

	<EmojiPickerComponent client:only="react" />
</section>
