<div
    class="intro w-full h-screen flex flex-col items-center justify-center gap-10 bg-black absolute inset-0"
>
    <h1 class="text-9xl animate-fade-in-right animate-duration-1000">
        Are you bored?
    </h1>
    <h2
        class="text-5xl animate-fade-in animate-duration-1000 animate-delay-[1.3s]"
    >
        Let's find something to watch!
    </h2>
    <button
        class="bg-slate-600 px-10 py-2 rounded-md text-white hover:bg-slate-500 transition-all animate-tada animate-delay-1000 opacity-1"
        onclick="document.querySelector('.intro').classList.add('slide-out-top')"
    >
        Start
    </button>
</div>
